@use './global.css' as *;

.hero {
    background-color: #FEFAF5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px 0;

    &-header {
        margin:10px;
        width: 45%;

        &__image {
            width: 400px;
        }
    
        &__copy {
            text-align: left;
            font-size: 2.25rem;
            width: 90%;

            &--paragraph {
                font-weight: 100;
            }
    
            &--button {
                background-color: #DB7A4E;
                color: #FFFFFF;
                border: none;
                padding: 0 40px;
                border-radius: 30px;
                font-size: 1rem;
            }
        }
    }

}

.recommendations {
    padding: 20px;

    &__total-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    }

    &__card {
        position: relative;

        &--copy {
            position: absolute;
            z-index: 9;
            bottom: 15px;
            right: 15px;
            text-decoration: none;
            color: #FFFFFF;
            font-size: 1.5rem;
            font-weight: 600;
        }

        &--image {
            width: 300px;
            height: 500px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
            border-radius: 5px;

            &--hawaii {
                background-image: url(../assets/Images/hawaii.jpg);
                background-size: cover; 
            }

            &--iceland {
                background-image: url(../assets/Images/iceland.jpg);
                background-size: cover; 
            }

            &--greece {
                background-image: url(../assets/Images/greece.jpg);
                background-size: cover; 
            }
        }
    
    }
}